header {
	height: 23rem;
	width: 100%;
	background-image: url('/assets/img/banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

h1 {
	width: 40%;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: whitesmoke;
}

.home-button {
	width: 20%;
	padding: 10px;
	color: black;
	transition: transform 0.3s ease;
	font-size: 18px;
	border: 1px solid var(--color-primary);
	padding: 10px;
}

.home-button:hover {
	background: transparent;
	border: 1px solid var(--color-primary);
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	color: black;
}

@media screen and (max-width: 768px) {
	header {
		height: 15rem;
	}
	h1 {
		width: 51%;
		font-size: 16px;
	}
	.home-button {
		width: 30%;
	}
}